@import url(fonts.css);

html,
body {
  font-family: Roboto-Regular;
  padding: 0 10% !important;
  font-size: 13px;
}

/* search bar */
.searchBar {
  width: 100%;
  position: relative;
  height: 40px;
}
.search-input {
  outline: none;
  border: none;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  padding-left: 10px;

  background-color: #f7f5f4;
}
.search-icon {
  background-image: url("../images/icons/searchIcon.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}
.searchBar:hover {
  cursor: pointer;
}

.search-input:focus {
  border: #efb607 1px solid;
}
/* end */

.program-box {
  border-radius: 14px;
  display: inline;
  appearance: none;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: normal;
  vertical-align: middle;
  outline: none;
  border: none;
  width: 20%;
  line-height: inherit;
  border-radius: 8px;
  font-weight: 500;
  height: auto;
  min-width: auto;
  font-size: 0.875rem;
  color: inherit;
  margin: 0px;
  padding: 15px 30px;
  background-color: white;
}
.program-box:hover {
  cursor: pointer;
  background-color: rgba(241, 241, 241, 0.438);
}
.shadow {
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px;
}
.program-box .box {
  display: flex;
}
.circal-icon{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  flex-grow: 0;
  width: 60px;
  height: 60px;
  border-radius: 9999px;
  background: #FFEDCB;
  margin-right: 20px;
}

.box p{
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: .9rem;
}
