@import url(fonts.css);

html,
body {
  font-family: Roboto-Regular;
  padding: 0 10% !important;
  font-size: 13px;
}
/* search bar */
.searchBar {
  width: 100%;
  position: relative;
  height: 40px;
}
.search-input {
  outline: none;
  border: none;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  padding-left: 10px;

  background-color: #f7f5f4;
}
.search-icon {
  background-image: url("../images/icons/searchIcon.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}
.searchBar:hover {
  cursor: pointer;
}
h3{
  margin-block-start: 0;
  margin-block-end: 0;
}
.search-input:focus {
  border: #efb607 1px solid;
}
/* end */

.program-box {
  border-radius: 14px;
  display: inline;
  appearance: none;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: normal;
  vertical-align: middle;
  outline: none;
  border: none;
  width: 20%;
  line-height: inherit;
  border-radius: 8px;
  font-weight: 500;
  height: auto;
  min-width: auto;
  font-size: 0.875rem;
  color: inherit;
  margin: 0px;
  padding: 15px 30px;
  background-color: white;
}
.program-box:hover {
  cursor: pointer;
  background-color: rgba(241, 241, 241, 0.438);
}
.shadow {
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px;
}
.program-box .box {
  display: inline-flex;
}
.circal-icon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  flex-grow: 0;
  width: 60px;
  height: 60px;
  border-radius: 9999px;
  background: #ffedcb;
  margin-right: 20px;
}

.box p {
  font-weight: 400;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-size: 0.9rem;
}
p.chakra-tex {
  margin: auto;
}
p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
@media only screen and (max-width: 1160px) {
  .circal-icon {
    width: 40px;
    height: 40px;
    margin-right: 3px;
  }
  .box {
  }
  .circal-icon img {
    width: 20px;
  }
}
@media only screen and (max-width: 880px) {
  button.program-box.shadow {
    padding: 10px 8px;
  }
}
@media only screen and (max-width: 710px) {
  .sestypes{
    margin: -20px;
  }
  .shadow {
    box-shadow: rgba(0, 0, 0, 0) 0px 4px 6px;
  }
  .program-box {
    width: 20%;
  }
  .program-box .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sestypes {
    justify-content: flex-start;
  }
  body,
  html {
    font-size: 10px;
  }
  .searchBar {
    height: 30px;
  }
  .box {
    align-items: center;
    text-align: center;
  }
  p.chakra-text {
    margin-top: 10px;
    font-size: 1.2rem !important;
  }
  .circal-icon {
    margin-right: 0px;
  }
}

/* Scroll style */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #ffc06f;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
.addCart{
    margin: 10px 0;
}
.addCart .increase{

}
.addCart .decrease{

}
.addCart button{
  border: none !important;
  border-radius: 50%;
  background-color: #efb607;
}
.addCart button:hover{
  cursor: pointer;
  background-color: #dda602;
}
.addCart input{
  outline: none;
  width: 30px;
  height: 20px;;
  text-align: right;
  padding: 2px 5px;
}