html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.item-categories-outer {
  display: block;
  width: 200px;
  margin: 20px;
}

.categories-content-wrapper {
  display: flex;
}
.tittle-item {
  display: flex;
}
.item-categories-outer img {
  width: 200px;
  height: 200px;
  border-radius: 16px;
}
.tittle-item-right {
  color: red;
  font-size: 26px;
  margin-top: 20px;
  margin-right: 2px;
}
.tittle-item-left {
  width: 90%;
}

.categories-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.tittle {
  background-color: #FBBC04;
}
h2 {
  margin-left: 30px;
}
.yeuthich {
  color: red;
  margin-top: 35px;
  font-size: 26px;
  margin-right: 100px;
}

.left {
  /* width: 50vw;
  min-width: 50vw; */
}
.right {
  /* width: 100vw;
  min-width: 100vw; */
}
.danhmucyeuthich {
  margin: 0;
  padding: 0;
}
.img img {
  height: 150px;
  width: 150px;
  border-radius: 16px;
  margin: 20px;
}
.product-name {
  /* width: 50vw; */
  margin-top: 2px;
}
.box-info-productlist {
  display: flex;
  text-align: left;
  /* width: 50vw; */
}
.block-productlist {
  display: flex;
  margin-left: 30px;
}
.block-productlist > *{
    flex: 1;
}
